@import "tailwindcss";

:root {
  --background: #f7f7f7;
  --foreground: #f7f7f7;

  --main-white: #f7f7f7;
  --main-green: #1c9754;
  --secondary-green: #195c37;
}

html * {
  font-family: Prompt, Kanit, Mitr, Arial, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.bg-white-main {
  background-color: var(--main-white);
}

.bg-green-main {
  background-color: var(--main-green);
}

.bg-green-secondary {
  background-color: var(--secondary-green);
}

.bg-gradient {
  background: linear-gradient(to right, var(--main-white), rgb(193, 214, 193), rgb(149, 183, 149), var(--main-green));
}

.text-white-main {
  color: var(--main-white);
}

.text-green-main {
  color: var(--main-green);
}

.menu-link {
  @apply font-bold leading-6;
}

.menu-button {
  @apply px-2 py-1 bg-transparent;
  background-color: transparent;
  color: #ffd700;
  border: 1px solid #FFD700;
  border-radius: 0.25rem;
}

.divider {
  @apply w-full block overflow-hidden;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  color: gray;
  unicode-bidi: isolate;
  border-style: inset;
  border-width: 1px;
}