@import "tailwindcss";

:root {
  --background: #f7f7f7;
  --foreground: #71826e;

  --white-primary: #f7f7f7;

  --green-primary: #1c9754;
  --green-primary-dark: #195c37;
  --green-primary-light: #709f7c;
  --green-accent: #378430;

  --gray-primary: #666666;
}

.bg-white-primary {
  background-color: var(--white-primary);
}

.bg-green-primary {
  background-color: var(--green-primary);
}

.bg-green-primary-dark {
  background-color: var(--green-primary-dark);
}

.bg-green-primary-light {
  background-color: var(--green-primary-light);

  &:hover {
    background-color: var(--green-primary-dark);
  }
}

.bg-gradient {
  background: linear-gradient(
    to right,
    var(--white-primary),
    rgb(193, 214, 193),
    rgb(149, 183, 149),
    var(--green-primary)
  );
}

.text-white-primary {
  color: var(--white-primary);
}

.text-green-primary {
  color: var(--green-primary);
}

.text-green-accent {
  color: var(--green-accent);
}

.text-gray-primary {
  color: var(--gray-primary);
}

.menu-link {
  @apply font-bold leading-6;
  color: var(--white-primary);
}

.menu-button {
  @apply px-2 py-1 bg-transparent;
  background-color: transparent;
  color: #ffd700;
  border: 1px solid #ffd700;
  border-radius: 0.25rem;
}

.banner {
  background-image: url("/banner-main.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  background-blend-mode: darken;

  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
}

.text-title {
  color: #378430;
}

.text-title-white {
  color: #f7f7f7;
}

.text-description {
  color: #71826e;
}

.detail-container {
  @apply w-full flex flex-col md:flex-row items-center justify-between m-auto gap-5 md:max-w-7xl;
}

.detail-content {
  @apply w-full px-5 py-4 text-left;

  &.text-center {
    @apply text-center;
  }
}

.detail-image {
  @apply w-auto h-auto min-w-80 max-w-full rounded-xl transition-all duration-500 ease-out hover:scale-105 hover:-rotate-3;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.5);
}
